<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('https://getbootstrap.com/favicon.ico')}}">

    <title>{% block title %}Reserva de Salas{% endblock %}</title>

    <link href="{{ asset('public/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('public/css/navbar.css') }}" rel="stylesheet">
    <link href="{{ asset('public/css/style_generic.css')}}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>

<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Reserva de Salas</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/home">Home</a></li>
                    <li class="#"><a href="{{ asset(path ('usuario_index'))}}">Usuários</a></li>
                    <li class="#"><a href="{{ asset(path('sala_index'))}}">Salas</a></li>
                    <li class="#"><a href="{{ asset(path('reserva_index')) }}">Reservas</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron bg-white pading-container">
        {% block body %} <h2 class="titulo-pagina">Home</h2>{% endblock %}
    </div>

</div> <!-- /container -->
{% block javascripts %}{% endblock %}
<script src="{{ asset('public/js/jquery.min.js')}}"></script>
<script src="{{ asset('public/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('public/js/generic.js')}}"></script>
<script src="{{ asset('public/js/home.js')}}"></script>

</body>
</html>