{% extends 'base.html.twig' %}

{% block body %}
<h2 class="titulo-pagina">Criar Usuário</h2>
    {{ form_start(form) }}
    <div class="row margin15">
        <div class="col-xs-12 col-md-3">
            <div class="form-group has-feedback">
                <label class="control-label col-xs-3 col-md-8" for="nome">
                    {{ form_label(form.nome) }}
                </label>
                {{ form_widget(form.nome, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group has-feedback">
                <label class="control-label col-xs-3 col-md-8" for="usuario">
                    {{ form_label(form.usuario) }}
                </label>
                {{ form_widget(form.usuario, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group has-feedback">
                <label class="control-label col-xs-3 col-md-8" for="senha">
                    {{ form_label(form.senha) }}
                </label>
                {{ form_widget(form.senha, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>
    <div class="row margin15">
    <div class="col-xs-12 col-md-9">
        <input type="submit" class="btn btn-primary pull-right" value="Criar" />
        {{ form_end(form) }}
         <ul>
            <li>
                <a href="{{ path('usuario_index') }}">Voltar para a Lista</a>
            </li>
        </ul>
    </div>
{% endblock %}