{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="titulo-pagina">Editar Usu&aacute;rio</h2>
    {{ form_start(edit_form) }}
    <div class="row margin15">
        <div class="col-xs-12 col-md-3">
            <div class="form-group has-feedback">
                <label class="control-label col-xs-3 col-md-8" for="identificacao">
                    {{ form_label(edit_form.identificacao) }}
                </label>
                {{ form_widget(edit_form.identificacao, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="form-group has-feedback">
                <label class="control-label col-xs-3 col-md-8" for="capacidade">
                    {{ form_label(edit_form.capacidade) }}
                </label>
                {{ form_widget(edit_form.capacidade, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>
    <div class="row margin15">
        <div class="col-xs-12 col-md-6">
            <input type="submit" class="btn btn-primary pull-right" value="Editar" />
            {{ form_end(edit_form) }}
            <a class="btn btn-sm btn-default pull-left" href="{{ path('sala_index') }}">Voltar para a lista</a>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-sm btn-danger pull-left" value="Deletar">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
