{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron bg-white pading-container">
        <h2 class="titulo-pagina">Lista de Salas</h2>
        <div class="row">
            <div class="col-xs-12 col-md-12 overflow">
                <table class="table table-striped table-hover">
                    <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Identificação</th>
                        <th class="text-center">Capacidade</th>
                        <th class="text-center">Visalizar</th>
                        <th class="text-center">Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sala in salas %}
                        <tr>
                            <th scope="row"><a href="{{ path('sala_show', { 'id': sala.idSala }) }}">{{ sala.idSala }}</a></th>
                            <td>{{ sala.identificacao }}</td>
                            <td class="text-center pointer">{{ sala.capacidade }}</td>
                            <td class="text-center pointer"> <a href="{{ path('sala_show', { 'id': sala.idSala }) }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                            <td class="text-center pointer"> <a href="{{ path('sala_edit', { 'id': sala.idSala }) }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 overflow">
            <ul>
                <li>
                    <a href="{{ path('sala_new') }}">Criar nova sala</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
